// have own app-wide variables for easy use in the app scss

// for the baseline-grid of angular-material
$app-baseline-grid: 8px;

$app-layout-gutter-width: ($app-baseline-grid * 2);

$app-layout-breakpoint-xs: 600px;
$app-layout-breakpoint-sm: 960px;
$app-layout-breakpoint-md: 1280px;
$app-layout-breakpoint-lg: 1920px;
