<div class="layout-container" layout-padding>
    <form name="$ctrl.profileForm" ng-submit="$ctrl.submit()">

        <div ng-if="$ctrl.enabled.indexOf('username') === -1" ng-click="$ctrl.enableControl('username')">
            <label translate="labels.username"></label>
            <div ng-bind="$ctrl.viewmodel.username | profileUnsetValue"></div>
        </div>

        <md-input-container ng-if="$ctrl.enabled.indexOf('username') !== -1" class="md-block">
            <label for="username" translate="labels.username"></label>
            <input id="username" name="username" ng-model="$ctrl.viewmodel.username" profile-unset-value-formatter
                   profile-unset-value-parser>
        </md-input-container>

        <div layout="row">
            <md-button ng-if="$ctrl.profileForm.$dirty" type="submit"
                       ng-attr-aria-label="{{'actions.submit' | translate}}" translate="actions.submit"></md-button>
        </div>

    </form>
</div>