<!doctype html>
<html ng-app="<%= projectProperties.ngAppModule %>" ng-strict-di lang="<%= projectProperties.language.default %>">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= packageProperties.name %></title>
    <meta name="description" content="<%= packageProperties.description %>">
    <base href="/" />
</head>

<body layout="column" translate-cloak ui-view>
    <noscript>
        <section>
            <h1>Please enable JavaScript in your browser</h1>
            <p>This website cannot work without JavaScript. You can get a JavaScript-able internet browser from
                different vendors (order is not specific):</p>
            <ul>
                <li>
                    <a href="https://www.mozilla.org/de/firefox/" rel="noopener">Firefox by Mozilla</a>
                </li>
                <li>
                    <a href="https://www.google.com/intl/de_ALL/chrome/" rel="noopener">Chrome by Google Chrome Team</a>
                </li>
                <li>
                    <a href="https://www.microsoft.com/de-de/windows/microsoft-edge" rel="noopener">Edge by
                        Microsoft</a>
                </li>
            </ul>
            <p>It will provide a better user experience due to this site has cool features and look-and-feel when
                JavaScript is enabled.</p>
        </section>
    </noscript>
</body>

</html>
