<app-busy-spinner busy="$ctrl.isBusy"></app-busy-spinner>

<div class="height-100" layout="row">
    <md-sidenav flex="33" md-component-id="{{$ctrl.sideNavId}}" md-whiteframe="2">
        <header ui-view="header">
            <app-header></app-header>
        </header>
    </md-sidenav>

    <div class="height-100" flex layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button ng-click="$ctrl.toggleSideNav()" class="md-icon-button">
                    <md-icon>menu</md-icon>
                </md-button>
                <h1 md-truncate>
                    Welcome
                    <span ng-if="$ctrl.currentStateTitle">
                        -
                        <span ng-bind="$ctrl.currentStateTitle"></span>
                    </span>
                </h1>
            </div>
        </md-toolbar>

        <md-content flex="noshrink" layout="row" layout-align="center center" md-scroll-y role="main" ui-view="main"></md-content>

        <div layout="row" layout-align="center center">
            <footer ui-view="footer">
                <app-footer></app-footer>
            </footer>
        </div>
    </div>
</div>