<div layout-padding>
    <form name="$ctrl.loginForm" ng-submit="$ctrl.login()">
        <md-input-container class="md-block">
            <label for="username" translate="labels.username"></label>
            <input id="username" md-maxlength="255" name="username" ng-model="$ctrl.username" required>
            <div ng-messages="$ctrl.loginForm.username.$error">
                <div ng-message="required" translate="login.errors.username.required"></div>
                <div ng-message="md-maxlength" translate="login.errors.username.maxlength"></div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label for="password" translate="labels.password"></label>
            <input id="password" md-maxlength="255" name="password" ng-model="$ctrl.password">
            <div ng-messages="$ctrl.loginForm.password.$error">
                <div ng-message="md-maxlength" translate="login.errors.password.maxlength"></div>
            </div>
        </md-input-container>
        <div layout="row" layout-align="center">
            <md-button type="submit" ng-attr-aria-label="{{'actions.submit' | translate}}" translate="actions.submit">
            </md-button>
        </div>
    </form>
</div>