app-menubar {
    .capatalize {
        text-transform: capitalize;
    }

    .avatar {
        position: absolute;
        width: 100%;
        height: auto;
        left: 0;
        top: 0;
    }
}
