<div layout="row" layout-align="space-between center">
    <h1 md-truncate>
        <span ng-bind="$ctrl.currentStateTitle"></span>
    </h1>
    <div ng-if="$ctrl.profile" layout="row" layout-align="end center" layout-margin>
        <div class="capatalize">
            <span ng-bind="$ctrl.profileName.title"></span>
            <span ng-bind="$ctrl.profileName.first"></span>
            <span ng-bind="$ctrl.profileName.last"></span>
        </div>
        <md-menu>
            <md-button aria-label="User menu" class="md-icon-button" ng-click="$mdMenu.open()">
                <img class="avatar" md-menu-origin ng-attr-alt="{{$ctrl.profileName.title}} {{$ctrl.profileName.first}} {{$ctrl.profileName.last}}" ng-src="{{$ctrl.profile.picture.thumbnail}}">
            </md-button>
            <md-menu-content ng-mouseleave="$mdMenu.close()">
                <md-menu-item>
                    <md-button ng-click="$ctrl.logout()">
                        <span translate="actions.logout"></span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</div>